body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2a2a28;
  color: #ebebeb;
  text-align: center;
}
#titulo {
  font-family: Times, serif;
}
.cabecalho {
  color: #ebebeb;
  margin: 2em;
}
#link-habilidades {
  background-color: #4f7d68;
  padding: 5px 10px;
  border-radius: 5px;
}
#link-indicacao {
  background-color: #4f7d68;
  padding: 5px 10px;
  border-radius: 5px;
}
.foto-apresentacao {
  height: 23em;
}
#apresentacao {
  background-color: #3d6566;
  color: #ebebeb;
  border: solid #4f7d68;
  max-width: 350px;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
  top: -17em;
  left: 50%;
}
#foto {
  background-color: #352244;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  left: -7em;
}
.listas {
  padding: 2em;
  text-align: center;
}
#habilidades-list {
  background-color: #3d6566;
  padding: 5px;
  border: solid #4f7d68;
  width: 310px;
  border-radius: 5px;
  display: inline-block;
}
#hobbies-list {
  background-color: #3d6566;
  padding: 5px;
  border: solid #4f7d68;
  max-width: 350px;
  border-radius: 5px;
  display: inline-block;
}
.list-item {
  list-style-position: inside;
  text-align: left;
}
.list-item:nth-child(odd) {
  font-weight: bold;
}
.rodape {
  color: #ebebeb;
  position: relative;
}
#indicacao {
  background-color: #4f7d68;
  padding: 5px 10px;
  border-radius: 5px;
}
#inicio {
  background-color: #4f7d68;
  padding: 5px 10px;
  border-radius: 5px;
}
